/* select fonts accessable */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Roboto:wght@400;900&display=swap');
/* http://www.pixeden.com/icon-fonts/stroke-7-icon-font-set */

/* font-family: 'Roboto',sans-serif; */
/* regular=400, bold=700, light=300,semibold=500,black=900 */
/* font-family: 'Open Sans',sans-serif; */

:root {
  --container1110: 1110px;
  --gap30: 30px;
  --font-open-sans: 'Open Sans', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --color-like-tea: rgb(26, 188, 156);
}
/* default settings for page  */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

/* some specific setting */

body {
  background-color: rgb(255, 255, 255);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
  text-decoration: none;
}

.product,
.blog,
.about,
.banner,
.header {
  position: relative;
}

.header {
  width: 100%;
}

.top-header {
  background-color: var(--color-like-tea);
  height: 50px;
  font-family: var(--font-open-sans);
  font-weight: 300;
  font-style: 14px;
  line-height: 0.786;
  color: rgb(255, 252, 252);
  display: flex;
}

.header-array {
  width: var(--container1110);
  margin: 0 auto;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--gap30);
}
.contacts-info {
  display: flex;
  width: 270px;
  justify-content: space-between;
}

.tel,
.mail {
  text-decoration: none;
  color: rgb(254, 254, 254);
  line-height: 0.44;
  display: inline-flex;
  align-items: center;
}
.tel::before {
  content: '';
  display: inline-block;
  background-image: url(../img/call.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 25px;
}

.mail::before {
  content: '';
  display: inline-flex;
  background-image: url(../img/mail.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 25px;
}

.login-menu {
  width: 428px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.login-menu-item:hover,
.login-menu-item:focus {
  color: rgb(15, 1, 1);
  cursor: pointer;
}

.shop-nav {
  display: flex;
  align-items: center;
  height: 90px;
  padding: 0 var(--gap30);
  width: var(--container1110);
  margin: 0 auto;
}
.menu {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: var(--font-open-sans);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.786;
  width: 467px;
  color: rgb(15, 1, 1);
  list-style: none;

  /* margin-right: 30px; */
}

.menu-link {
  color: rgb(15, 1, 1);
  text-decoration: none;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--color-like-tea);
  cursor: pointer;
}

.nav-logo {
  flex-grow: 1;
  font-size: 30px;
  font-family: var(--font-roboto);
  font-weight: 900;
  color: rgb(85, 82, 82);
  text-transform: uppercase;
  line-height: 1.067;
  text-decoration: none;
  /* margin-left: 30px; */
}

.nav-logo::first-letter {
  color: var(--color-like-tea);
}

.welcome-info {
  /* height: 602px; */
  /* margin: 0 auto 100px; */
  position: relative;
}

.banner-img {
  height: 602px;
  min-height: 602px;
  margin: auto;
  position: relative;
  object-fit: cover;
}

.banner-img::after {
  content: '';
  background-color: rgba(0, 0, 2, 0.522);
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.banner-content {
  width: 760px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  /* align-content: space-between; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-text {
  font-size: 48px;
  font-family: var(--font-roboto);
  font-weight: 400;
  color: rgb(255, 252, 252);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}
.banner-text-mark-word {
  color: rgb(26, 188, 156);
}

.buynow {
  width: 116px;
  height: 38px;
  border-width: 2px;
  border-radius: 3px;
  background-color: var(--color-like-tea);
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 39%);
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  /* bottom: 0; */
}

.buynow-link {
  font-family: var(--font-roboto);
  font-size: 14px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.buynow:hover,
.buynow:focus {
  background-color: rgb(156, 197, 188);
}

.about {
  margin-top: 100px;
  height: 450px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.about-list {
  width: var(--container1110);
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.about-item1,
.about-item2,
.about-item3,
.about-item4 {
  font-family: var(--font-roboto);
  font-size: 14px;
  font-weight: 400;
  color: rgb(82, 82, 82);
  line-height: 1.714;
  text-align: center;
  width: 255px;
}

.about-item1::before {
  content: '';
  display: inline-block;
  background-image: url(../img/settings.svg);
  stroke: #1abc9c;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 70px;
  height: 70px;
  margin-bottom: 60px;
}
.about-item2::before {
  content: '';
  display: inline-block;
  background-image: url(../img/safe.svg);
  stroke: #1abc9c;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 70px;
  height: 70px;
  margin-bottom: 60px;
}
.about-item3::before {
  content: '';
  display: inline-block;
  background-image: url(../img/global.svg);
  stroke: #1abc9c;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 70px;
  height: 70px;
  margin-bottom: 60px;
}
.about-item4::before {
  content: '';
  display: inline-block;
  background-image: url(../img/compass.svg);
  stroke: #1abc9c;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 70px;
  height: 70px;
  margin-bottom: 60px;
}

.about-item-name {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  font-family: var(--font-open-sans);
  font-weight: 500;
  color: rgb(85, 82, 82);
  line-height: 1.778;
  text-align: center;
  margin-bottom: 27px;
}

.about-item-text {
  font-size: 14px;
  font-family: var(--font-open-sans);
  font-weight: 300;
  color: rgb(85, 82, 82);
  line-height: 1.714;
  text-align: center;
}

.new-collection {
  background-color: rgb(233, 240, 253);
  width: 100%;
  height: 676px;
  margin-bottom: 100px;
}
.new-collection-div {
  width: var(--container1110);
  margin: 0 auto;
}
.new-collection-header {
  font-family: var(--font-roboto);
  font-weight: 900;
  font-size: 48px;
  color: rgb(81, 81, 81);
  text-transform: uppercase;
  line-height: 0.667;
  text-align: center;
  position: relative;
  top: 100px;
  margin-bottom: 254px;
}
.new-collection-header::after {
  content: '';
  display: inline-block;
  background-image: url(../img/title-border.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 164px;
  height: 15px;
  margin-bottom: 60px;
  position: absolute;
  right: 50%;
  top: 62px;
  transform: translateX(50%);
}

.new-collection-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.new-collection-item1,
.new-collection-item2,
.new-collection-item3,
.new-collection-item4 {
  font-family: var(--font-roboto);
  font-size: 18px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  line-height: 1.714;
  text-align: center;
  width: 255px;
  height: 322px;
  display: block;
}

.new-collection-hover {
  position: relative;
}
.new-collection-hover:hover .new-collection-item-name,
.new-collection-hover:focus .new-collection-item-name {
  background-color: rgb(26, 188, 156);
  cursor: pointer;
}
.new-collection-hover:hover .new-collection-item-price,
.new-collection-hover:focus .new-collection-item-price {
  background-color: rgba(26, 188, 156, 0.439);
  cursor: pointer;
}

.new-collection-hover:hover .new-collection-add-hover,
.new-collection-hover:focus .new-collection-add-hover {
  display: block;
}

.new-collection-image {
  width: 255px;
  height: 322px;
  overflow: hidden;
  object-fit: cover;
}

.new-collection-item-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-family: var(--font-roboto);
  font-weight: 900;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.778;
  width: 255px;
  height: 40px;
  transform: translateY(-40px);
}

.new-collection-item-name {
  display: inline-flex;
  background-color: black;
  padding-left: 15px;
  flex-grow: 1;
  height: inherit;
  align-items: inherit;
}

.new-collection-item-price {
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0.439);
  width: 54px;
  height: inherit;
  align-items: inherit;
  justify-content: center;
}

.new-collection-add-hover {
  box-sizing: content-box;
  /* display: block; */
  display: none;
  border-width: 10px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  width: 235px;
  height: 262px;
  position: absolute;
  top: 0;
  left: 0;
  /* position: relative; */
}

.new-collection-add-hover::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.549);
  display: block;
  width: 100%;
  height: 100%;
}
.new-collection-add-hover-list {
  display: flex;
  width: 166px;
  height: 107px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  align-content: space-around;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.new-collection-add-hover-item {
  display: inline-flex;
}

.hover-button {
  width: 48px;
  height: 48px;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-color: rgba(0, 0, 0, 0);
}

.hover-button:hover,
.hover-button:focus {
  background-color: rgb(26, 188, 156);
  border-color: rgb(26, 188, 156);
}
.button-name {
  font-size: 14px;
  font-family: var(--font-open-sans);
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin-left: 60px;
  text-transform: uppercase;
  line-height: 2.286;
  text-align: center;
}

.cart-bg {
  background-image: url(../img/cart.svg);
  width: 164px;
  background-color: rgb(50, 50, 50);
}
.like-bg {
  background-image: url(../img/like.svg);
}
.shuffle-bg {
  background-image: url(../img/shuffle.svg);
}
.clock-bg {
  background-image: url(../img/clock.svg);
}

/*  */
/*  */
/*  */
/*  */
/*  */

.blog-section-name,
.product-section-name,
.nl-section-name {
  font-size: 48px;
  font-family: var(--font-roboto);
  font-weight: 900;
  color: rgb(81, 81, 81);
  text-transform: uppercase;
  text-align: center;
  line-height: 0.667;
  margin: 0 auto 92px;
}

.product-section-name::after,
.blog-section-name::after {
  content: '';
  display: inline-block;
  background-image: url(../img/title-border.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 164px;
  height: 15px;
  /* margin-bottom: 60px; */
  position: absolute;
  right: 50%;
  top: 62px;
  transform: translateX(50%);
  /* bottom: 0; */
  /* left: 50%; */
}

.product-gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: 245px;
  margin-right: 245px;
}

.product-card {
  display: inline-flexbox;
  width: 255px;
  height: 322px;
  background-color: rgb(233, 240, 253);
  justify-content: space-between;
  font-size: 14px;
  font-family: var(--font-roboto);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.778;
  margin-right: 30px;
}

.product-card:nth-child(4n) {
  margin-right: 0;
}

.product-card:nth-child(-n + 4) {
  margin-bottom: 30px;
}

.product-info {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  font-family: var(--font-roboto);
  font-weight: 900;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.778;
  width: 255px;
  height: 40px;
}

.product-name {
  background-color: black;
  padding-left: 15px;
  flex-grow: 1;
}

.product-proce {
  background-color: rgba(0, 0, 0, 0.439);
  width: 54px;
  text-align: center;
}

.product-card:hover .product-name,
.product-card:focus .product-name {
  background-color: rgb(26, 188, 156);
  cursor: pointer;
}

.product-card:hover .product-proce,
.product-card:focus .product-proce {
  background-color: rgba(26, 188, 156, 0.439);
  cursor: pointer;
}
.product-card:hover .product-add-hover,
.product-card:focus .product-add-hover {
  display: block;
}
.product-card {
  position: relative;
}

.product-add-hover {
  box-sizing: content-box;
  /* display: block; */
  display: none;
  border-width: 10px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  width: 235px;
  height: 262px;
  position: absolute;
  top: 0;
  left: 0;
  /* position: relative; */
}
.product-add-hover::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.549);
  display: block;
  width: 100%;
  height: 100%;
}
.product-add-hover-list {
  display: flex;
  width: 166px;
  height: 107px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  align-content: space-around;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-add-hover-item {
  display: inline-flex;
}

.product-button-name {
  font-size: 14px;
  font-family: var(--font-open-sans);
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin-left: 60px;
  text-transform: uppercase;
  line-height: 2.286;
  text-align: center;
}

/* .cart-bg {
  background-image: url(../img/cart.svg);
  width: 164px;
  background-color: rgb(50, 50, 50);
}
.like-bg {
  background-image: url(../img/like.svg);
}
.shuffle-bg {
  background-image: url(../img/shuffle.svg);
}
.clock-bg {
  background-image: url(../img/clock.svg);
} */

.blog {
  margin-top: 105px;
  margin-left: 245px;
  margin-right: 245px;
}

.blog-body {
  margin-bottom: 37px;
}

.blog-img {
  width: 350px;
  height: 262px;
  margin-bottom: 16px;
}

.blog-list {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.blog-item-header,
.blog-item-text {
  width: 350px;
}

.blog-item-header {
  font-family: var(--font-open-sans);
  font-size: 18px;
  font-weight: 500;
  /* semibold */
  color: rgb(85, 82, 82);
  line-height: 1.444;
  margin-bottom: 30px;
}

.blog-item-header::after {
  display: block;
  position: relative;
  content: '';
  height: 3px;
  width: 136px;
  background-color: rgb(78, 198, 171);
  bottom: -15px;
}

.blog-item-text {
  font-family: var(--font-open-sans);
  font-size: 14px;
  font-weight: 400;
  /* regular */
  color: rgb(85, 82, 82);
  line-height: 26px;
  letter-spacing: -0.2px;
  margin-bottom: 18px;
}

.read-more-button {
  font-family: var(--font-open-sans);
  font-size: 16px;
  font-weight: 300;
  /* light */
  color: rgb(255, 255, 255);
  line-height: 1.625;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  /* -moz-transform: matrix(0.98757763975155, 0, 0, 1, 0, 0); */
  /* -webkit-transform: matrix(0.98757763975155, 0, 0, 1, 0, 0); */
  /* -ms-transform: matrix(0.98757763975155, 0, 0, 1, 0, 0); */
  /* display: block; */
  width: 160px;
  height: 51px;
  border-radius: 3px;
  background-color: rgb(78, 198, 171);
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 39%);
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.read-more-button:hover {
  background-color: rgb(156, 197, 188);
}

.newsletter {
  height: 462px;
  background-color: rgb(78, 198, 171);
  background-image: url(../img/newsletter57.webp);
  position: relative;
}

.nl-section-name {
  padding-top: 100px;
}
.nl-section-name::after {
  content: '';
  display: inline-block;
  background-image: url(../img/title-border-white.svg);
  background-color: rgb(26, 188, 156);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 164px;
  height: 15px;
  position: absolute;
  right: 50%;
  top: 162px;
  transform: translateX(50%);
}

.nl-info {
  display: inline-block;
  font-size: 16px;
  font-family: var(--font-open-sans);
  color: rgb(255, 255, 255);
  line-height: 1.625;
  text-align: center;
  width: 500px;
  height: 17px;
  position: absolute;
  right: 50%;
  top: 209px;
  transform: translateX(50%);
}
.next:hover .nl-next-img,
.next:focus .nl-next-img {
  background-color: rgb(156, 197, 188);
}
.nl-subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 540px;
  height: 60px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  top: 267px;
  transform: translateX(-50%);
}
/* .next{position: relative;} */
.nl-next-img {
  display: block;
  width: 89px;
  height: 56px;
  background-color: rgb(78, 198, 171);
  overflow: hidden;
  border-radius: 2px;
  border-color: white;
  transform: translateX(-2px);
  /* position: absolute; */
  /* top: 1px; */
}
.nl-mail {
  /* width: 445px; */
  border: 0;
  font-size: 16px;
  font-family: var(--font-open-sans);
  color: rgb(85, 82, 82);
  line-height: 1.625;
  text-align: left;
  margin-left: 30px;
  width: 100%;
  /* width: 148px; */
  /* height: 17px; */
}
